<mat-toolbar class="toolbar">
    <div class="logo-container">
        <span (click)="toggleCollapse()" class="menu-button">
            <i class="fa-solid fa-bars"></i>
        </span>
        <div class="logo-text">Angular</div>
    </div>
    <button class="profile-button">
      <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>

<div style="display: flex; flex-direction: row;">

    <div class="sidenav" *ngIf="visible" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link" [routerLink]="[data.route]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div [class]="contentClass">
        <router-outlet></router-outlet>
    </div>
</div>